
main {
  display: flex;
  color: #111;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

header {
  font-size: 24px;
  font-weight: bold;
}

.app-header {
  flex: 100%;
}

.side-bar {
  min-width: 50ch;
  flex: 20%;
}

.pad {
  flex: 80%;
  line-height: 1.2em;
}

.pad-body {
  font-family: Lucida Console, Courier, monospace;
}

input[type="text"].pad-input {
  font-family: Lucida Console, Courier, monospace;
}

input[type="text"].pad-header {
  font-size: 24px;
  border: none;
  border-bottom: 2px solid #111;
  width: 25ch;
}

nav * {
  display: block;
  margin: 1em;
  cursor: pointer;
}

.pad-remove {
  display: inline;
}

.pad-select {
  display: inline;
}

.pad-remove:hover {
  background-color: lightcoral;
  text-decoration: underline;
  
}

.pad-id-error {
  background-color: lightcoral;
  text-decoration: underline;
}

.pad-select:hover {
  background-color: lightskyblue;
  text-decoration: underline;
}

.pad-identity {
  width: 40ch;
  text-align: left;
  display: inline-block;
}

.pad-secret {
  display: inline-block;
}

.pad-button {
  background-color: gainsboro;
  border: none;
  padding: 10px 10px;
  margin-left: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.pad-button:hover:enabled {
  background-color: gray;
}